.header-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6f42c1;
    padding: .5vw 1vw;
}

.cart-items {
    position: absolute;
    transform: translate(-1.5vw, 0vw);
    background-color: #fff;
    padding: .2vw .7vw;
    border-radius: 50px;
    font-size: 1.5vw;
    color: #6f42c1;
}

.header-list__item {
    text-decoration: none;
    color: #fff;
    font-size: 1.7vw;
}

.header-list__item:hover {
    color: red;
}

.header-list__cart {
    position: relative;
}

.cart-image {
    width: 100px;
}