.header-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #6f42c1;
    padding: .5vw 1vw;
    border-radius: .5vw;
}

.cart-items {
    position: absolute;
    transform: translate(-1.5vw, 0vw);
    background-color: #fff;
    padding: .2vw .7vw;
    border-radius: 50px;
    font-size: 1.5vw;
    color: #6f42c1;
}

.header-list__item {
    text-decoration: none;
    color: #fff;
    font-size: 2vw;
}

.header-list__item:hover {
    color: red;
    transition: .5s;
}

.header-list__cart {
    position: relative;
}

.header-cart-image {
    width: 100px;
}

@media only screen and (max-width: 768px){
    .header-list__item {
        font-size: 12.7px;
    }
    .header-cart-image {
        width: 50px;
    }
    .cart-items {
        font-size: 15px;
        transform: translate(-12.5px, 0);
        padding-right: 5px;
        padding-left: 5px;
    }
}