.form-container {
    background-color: rgba(110, 66, 193, .4);
    padding-top: 2vw;
    margin-bottom: 3vw;
    border-radius: .5vw;
}

.form-container__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2vw;
}

.form-container__list__item {
    font-size: 1.3vw;
    width: 25vw;
    height: 3vw;
    border: 1.5px solid blueviolet;
    border-radius: 3px;
    background-color: rgba(137, 43, 226, .3);
    margin-bottom: 20px;
}

.form-container__list__item::placeholder {
    color: #fff;
}

.submit {
    width: 10vw;
}

@media only screen and (max-width: 768px) {
    .form-container {
        height: 60vh;
    }

    .form-container__list {
        margin-top: 15vw;
    }

    .form-container__list__item {
        font-size: 14px;
        width: 50vw;
        height: 3vh;
    }
    .submit-button {
        font-size: 18px;
        padding: 10px 20px;
    }
}

