.cart-header {
    font-size: 3vw;
    border-bottom: 3px solid #6f42c1;
    padding-left: .5vw;
    padding-right: 1.5vw;
    width: fit-content;
}

.cart-image {
    width: 20vw;
    height: auto;
}

.cart-page-container {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6f42c1;
}

.cart-page-container__item {
    margin-left: 3vw;
}

.cart-numbers-button {
    display: flex;
    border: 1px solid #6f42c1;
    padding: 0 1vw;
}

.cart-numbers-button__item {
    margin-left: 1vw;
    margin-right: 1vw;
    color: rgba(0, 0, 0, .5);
    cursor: pointer;
}

.cart-numbers-button__item:hover {
    color: black;
}

.cart-items-container {
    margin: 1vw 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart-helper-container {
    display: flex;
}

.total-money-header {
    margin-right: 1vw;
    transform: translate(0, -15%);
}

.clear-cart-button {
    background-color: #6f42c1;
    border: none;
    cursor: pointer;
    padding: 1vw 2vw;
    font-size: 1.5vw;
    color: #fff;
    border-radius: .5vw;
    margin-bottom: 2vw;
    text-decoration: none;
}

.clear-cart-button:active {
    background-color: blueviolet;
}

.order-container {
    text-align: center;
    margin-bottom: 5vw;
}

.buyText {
    font-size: 3vw;
    color: rgb(39, 209, 39);
    text-align: center;
    margin-bottom: 5vw;
}

