.product-page {
    margin: 2vw;
}

.product-page__container {
    display: flex;
}

.product__column__small {
    flex: 10%;
}

.product-page__container__column_photo {
    flex: 50%;
    margin-left: 2vw;
}

.product-page__container__column {
    flex: 40%;
    margin-left: 2vw;
    font-size: 1.2vw;
}

.product-image-small {
    border-radius: .5vw;
    width: 150px;
    height: auto;
    margin-bottom: 1vw;
    cursor: pointer;
}

.selected-image {
    border: 2px solid #6f42c1;
}

.product-header {
    font-size: 2.5vw;
    border-bottom: 2px solid #6f42c1;
}

.product-image {
    width: 100%;
    height: auto;
    max-height: 25vw;
}

.zoomed-image {
    width: 60vw;
    height: auto;
}

.zoom-button {
    background-color: #6f42c1;
    border: none;
    color: #fff;
    font-size: 1.5vw;
    margin-left: 1vw;
    padding: .5vw 1vw;
    border-radius: .5vw;
    width: 50px;
    cursor: pointer;
}

.zoom-button:active {
    background-color: blueviolet;
}

.buttons-container {
    margin-left: 2vw;    
    display: flex;
}

.cart-button {
    margin-left: 1.5vw;
    background-color: rgba(110, 66, 193, .3);
    padding: 1vw 2vw;
    color: #6f42c1;
    border: none;
    border-radius: .5vw;
    font-size: 1.5vw;
    cursor: pointer;
}

.cart-button:active {
    background-color: rgba(110, 66, 193, .5);
}

.price-tag {
    font-size: 1.8vw;
    margin-left: 2vw;
}

@media only screen and (max-width: 768px) {
    .product-header {
        font-size: 25px;
    }
    .product-page__container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .zoom-button {
        display: none;
    }
    .product-image-small {
        width: 100px;
    }
    .price-tag {
        font-size: 20px;
    }
    .cart-button {
        font-size: 15px;
        padding: 5px 10px;
    }
}